<!-- BEGIN: Footer -->

{% if sections.docs %}
---

## Docs

{% include "_docs.j2" %}

{% endif %}
{% if sections.support %}
---

## Support

{% include "_support.j2" %}

{% endif %}
{% if sections.license %}
---

## License

{% include "_license.j2" %}

{% include "_license_tldr.j2" %}

{% endif %}
{% if sections.authors or sections.maintainers or sections.contributors %}
---

## People

{% if sections.authors %}
### Authors

{% include "_authors.j2" %}

{% endif %}
{% if sections.maintainers %}
### Maintainers

{% include "_maintainers.j2" %}

{% endif %}
{% if sections.contributors %}
### Contributors

{% include "_contributors.j2" %}

{% endif %}
{% endif %}
{% if sections.additional_info and repo.bottom_info %}
---

## Additional Information

{% include "_additional_info.j2" %}

{% endif %}

<!-- END: Footer -->
